:root {
    --color-blanc: #e8f1f9;
    --color-gris-clar: #e8eaed;
    --color-negre: #212529;
    --color-roig: #d83646;
}

body {
    font-family: "Hind Vadodara", sans-serif;
}

.bg-blau-clar {
    background-color: var(--color-blanc);
}

.foto_perfil {
    width: 130px;
}

.bg-gris-clar {
    background-color: var(--color-gris-clar) !important;
}

.menu_lateral:hover {
    background-color: var(--color-gris-clar) !important;
    color: var(--color-negre) !important;
}

.w-55 {
    width: 55% !important;
}

.w-45 {
    width: 45% !important;
}

.w-35 {
    width: 35% !important;
}

.w-30 {
    width: 30% !important;  
}

.w-15 {
    width: 15% !important;
}

.w-10 {
    width: 10% !important;
}

.altura_progres {
    height: 25px;
}

.w-280 {
    width: 280px;
}

.icona_play {
    font-size: 5em;
}

.icona_play:hover {
    font-size: 7em;
    color: var(--color-roig) !important;
    cursor:pointer;
}


@media (max-width: 1199px) {
  .foto_perfil {
    width: 104px;
  }
}

@media (max-width: 948px) {
  .foto_perfil {
    width: 72px;
  }
}


@media (max-width: 450px) {
  .foto_perfil {
    width: 49px;
  }
}

@media (max-width: 768px) {
  .paginacion {
    width: 100%;
  }
}
