/* Colors i estils per defecte */

:root {
    --color-primari : #539041;
    --color-secundari : #47488e;
    --color-terciari : #f6b01f;
    --color-quaternari : #ececec;
    --color-boto-netejar : #94949d;
    --color-general-lletra : #ffffff;
}

* {
    font-family: Roboto;
    color: var(--color-general-lletra);
}

/* Estils del header */

.centrar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu_hamburguesa {
    display: none;
}

#logotip {
    display: flex;
    align-items: center;
}

#logotip img {
    width: 100px;
    padding: 7px;
    margin-left: 10px;
}

#sessioUsuari {
    display: flex;
}

.headerUsuari {
    display: flex;
    align-items: center;
    color: var(--color-secundari);
}

.headerUsuari img {
    width: 80px;
    border-radius: 250px;
    margin-right: 15px;
}

.separador {
    padding: 15px;
    padding-left: 12px;
    padding-right: 0px;
    border-right: 1px solid #808080;
}

.tancarSessio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 27px;
}

.tancarSessio i, .headerUsuari span  {
    color: var(--color-secundari);  
}

.iconaTancarSessio {
    margin-left: 15px;  
}

/* Estils titol de la página */

.pagina {
    background-color: var(--color-secundari);
}

.pagina p {
    padding: 1px;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
}

/* Estils per al main */

#menu_lateral {
    background-color: var(--color-primari);
}

.opcio_menu {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 17px;
    border-bottom: 1px solid white;
}

.opcio_menu a {
    font-size: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 30px;
    text-align: center;
    text-decoration: none;
}

.opcio_menu:hover {
    background-color: var(--color-secundari);
    font-weight: bold;
}

.opcio_seleccionada {
    background-color: var(--color-secundari);
}

.opcio_seleccionada i {
   margin-right: 5px;
}

.eixir_menu {
    display: none;
}

/* Si l'ample de la pantalla es menor o igual a 767px */
@media only screen and (max-width: 767px) {

    /* Estils del header en telefon */

    #menu_hamburguesa {
        display: flex;
    }

    #menu_hamburguesa i {
        color: var(--color-secundari);
        font-size: 2.5em;
        padding-left: 15px;
    }

    .headerUsuari img {
        width: 65px;
    }

    .tancarSessio, .headerUsuari span {
        display: none;
    }

    /* Estils menú lateral */

    #menu_lateral {
        display: none;
        position: fixed;
        left: 0;
        top: 20;
        z-index: 2;
    }

    .eixir_menu {
        display: block;
        padding-left: 10px;
    }
}

/* Estils generals */

input {
    padding: 6px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #495057;
    color: black;
}

button {
    border-radius: 5px;
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
}

label {
    color : var(--color-secundari);
}