:root {
    --color-blau-oscur : #47488e;
    --gris-thead : #e2e3e5 ;
    --gris-dalt-taula: #b5b7b9 ;
    --gris : #d1d5db;
    --negre-boto : #212529;
    --menu-lateral : #1e293b;
    --menu-lateral-seleccionat : #a5b4fc;
    --filtre : #bcd0ea ;
    --blanc : white;
}

.persona {
    width: 65px;
}

body {
    font-family: Inter;
}

.header {
    position: inherit;
}

.header_baix {
    position: block !important;
}

.bg_gris {
    background-color: var(--gris);
}

.bg_menu_lateral, .menu_lateral {
    background-color: var(--menu-lateral);
}

.menu_lateral {
    height: 100%;
}

.menu_visible {
    display: block !important;
}

.menu_lateral_fixed {
    position: fixed;
    top: 20;
    left: 0;
}

.list-group-item-action:hover {
    background-color: var(--color-blau-oscur) !important;
}

.seleccionat {
    background-color: var(--color-blau-oscur) !important;
    border-left: 5px solid var(--menu-lateral-seleccionat) !important;
    padding-left: 0.5em;
}

.bg_filtre {
    background-color: var(--filtre) ;
}

.bg_blau_oscur, .list-group-item-action:hover {
   background-color: var(--color-blau-oscur);
}

.text_blau_oscur, .page-link, table thead th {
    color: var(--color-blau-oscur) !important;
}

.bg_dalt_taula {
    background-color: var(--gris-dalt-taula);
}

.bg_thead {
    background-color: var(--gris-thead) !important;
}

.btn:hover {
    background-color: var(--negre-boto) !important;
    color: var(--blanc) !important;
}

.active > .page-link {
    color: var(--blanc) !important;
    border: var(--menu-lateral);
    background-color: var(--menu-lateral);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.header-titulo {
  position: fixed;
  top: 89px;
  left: 0;
  right: 0;
  z-index: 1020;
}

#menu_lateral {
    position: fixed;
    top: 166px;
    left: 0;
    right: 0;
    z-index: 1010;
    height: 100vh;
}

.distancia_contingut {
    margin-top: 168px;
}

/* Si l'ample de la pantalla es menor o igual a 767px */
@media only screen and (max-width: 767px) {

    #taula thead th {
        display: none;
    }

    #taula td { 
        display: block;
    }

    #taula td::before {
        content: attr(data-cell) "";
        font-weight: 700;
        text-transform: capitalize;
    }

    #taula td[data-no-colon="true"]::before {
        content: "";
    }

    .tot {
        width: 100% !important;
    }
}
