.persona {
    width: 65px;
}

body {
    font-family: Inter;
}

.bg-gris {
    background-color: #d1d5db;
}

.bg_menu_lateral, .menu_lateral {
    background-color: #1e293b;
}

.menu_lateral {
    height: 100vh;
}

.list-group-item-action:hover {
    background-color: #47488e !important;
}

.seleccionat {
    background-color: #47488e !important;
    border-left: 5px solid #a5b4fc !important;
    padding-left: 0.8em;
}

.bg_filtre {
    background-color: #bcd0ea;
}