:root {
    --color-gris-clar : #f2f3f4;
    --color-gris-cercar : #e9ecef;
    --color-blanc : white;
    --color-seleccionar : #bdd8f4;
    --color-blau-clar : #e1ebf6;
}

body {
    font-family: "Space Grotesk";
}

.titol_primera_targeta {
    font-size: 3.7em;
}

.bg_cercar {
    background-color: var(--color-gris-cercar);
}

.bg_gris {
    background-color: var(--color-gris-clar);
}

.bg_blau_clar {
    background-color: var(--color-blau-clar);
}

.bg_seleccionar {
    background-color: var(--color-seleccionar);
}

.nav-link:hover {
    background-color: var(--color-seleccionar);
}
.navegacio_mitjana {
    box-shadow: 3px 1px 10px #8c8c8c;
}

/* Si l'ample de la pantalla es menor o igual a 767px */
@media only screen and (max-width: 1200px) {

    .tot {
        width: 100% !important;
    }
}